*{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    border-radius: 10px;
    background-color: lightcyan;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}
.container h2{
    text-align: center;
    font-size: 30px;
    text-decoration: 2px underline;
}
.form{
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form input{
    width: 300px;
    height: 30px;
    font-size: 14px;
}
.form textarea{
    width: 300px;
    height: 100px;
}

.form button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    background-color: rgb(56, 56, 234);
    color: white;
}